<form action="/save_name" method="post">
  <p>Add a product to your storefront so you can sell it!</p>
  <label for="product-name">Product name:</label><br />
  <input type="text" name="product-name" id="product-name" />
  <label for="product-price">Product name:</label><br />
  <input type="float" name="product-price" id="product-price" />
  <label for="product-image">Product image:</label><br />
  <input type="text" name="product-image" id="product-image" />
  <input type="submit" value="Add Product" />
</form>
