{% extends "application.html"%} {% block content %}
<div class="cart-box">
  <h1>CART</h1>
  <div class="list-product-btn-container">
    {% with success = get_flashed_messages(category_filter=["success"]) %} {% if
    success %}
    <div class="alert alert-success notification">
      <span class="message">{{success[0]}}</span>
    </div>
    {% endif %} {% endwith %}
  </div>

  <div class="payment-container">
    <a href="/checkout" class="btn list-button"
      >Checkout</i
    ></a>
  </div>

  <div class="row card-group">
    {% for product in cart %}
    <div class="col-3">
      <div class="card product">
        <img
          class="card-img-top product-image"
          src="{{product[2]}}"
          alt="{{product[0]}}"
        />
        <div class="card-body">
          <div class="card-title">{{product[0].upper()}}</div>
          <div class="card-text">${{product[1]}}</div>
          <div class="card-text">{{product[4]}}</div>
          <form method="POST" action="/delete_cart">
            <input
              type="hidden"
              value="{{product[3]}}"
              id="productid"
              name="productid"
            />
            <button type="submit" class="delete-button" title="delete-button">
              Delete <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
