{% extends "application.html"%} {% block content %}
<div class="input-group">
  <div class="form-outline">
    <form method="POST" action="/index">
      <label for="keyword" class="search-label">Search</label>
      <input class="search-input" type="text" id="keyword" name="keyword" />
      <label for="category-filter" class="search-label"
        >Filter by category:</label
      >
      <select
        name="category-filter"
        id="category-filter"
        title="category-filter"
        class="filter-box"
      >
        <option value="all">All</option>
        <option value="tops">Tops</option>
        <option value="furniture">Furniture</option>
        <option value="books">Books</option>
        <option value="bottoms">Bottoms</option>
        <option value="dresses">Dresses</option>
        <option value="cooking utensils">Cooking Utensils</option>
        <option value="electronics">Electronics</option>
        <option value="home Decor">Home Decor</option>
        <option value="shoes">Shoes</option>
        <option value="storage">Storage</option>
        <option value="others">Others</option>
      </select>
      <select
        name="price-sort"
        id="price-sort"
        title="price-sort"
        class="filter-box"
      >
        <option value="ASC">Low to High ($)</option>
        <option value="DESC">High to Low ($)</option>
      </select>
      <button type="submit" class="search-button" title="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</div>

<div class="add-product-error-box">
  {% with error = get_flashed_messages(category_filter=["error"]) %} {% if error
  %}
  <div class="alert alert-danger add-product-error">
    <img
      src="/static/warning.png"
      height="45"
      class="d-inline-block align-top warning-symbol"
      alt=""
    />
    <span class="message">{{error[0]}}</span>
  </div>
  {% endif %} {% endwith %}
</div>

<div class="row card-group">
  {% for product in products %}
  <div class="col-3">
    <div class="card product">
      <img
        class="card-img-top product-image"
        src="{{product[2]}}"
        alt="{{product[0]}}"
      />
      <div class="card-body">
        <div class="card-title">{{product[0].upper()}}</div>
        <div class="card-text">${{product[1]}}</div>
        <div class="card-text">{{product[4]}}</div>
        <form method="POST" action="/add_cart">
          <input
            type="hidden"
            value="{{product[5]}}"
            id="productid"
            name="productid"
          />
          {% if product[6]%}
          <button
            type="submit"
            class="btn card-submit"
            title="productid"
            disabled
          >
            Sold
          </button>
          {% else %}
          <button type="submit" class="btn card-submit" title="productid">
            Add to cart
          </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
