{% extends "application.html"%} {% block content %}
<div class="input-group">
  <div class="form-outline">
    <form method="POST" action="">
      <label for="keyword" class="search-label">Search</label>
      <input class="search-input" type="text" id="keyword" name="keyword" />
      <label for="category-filter">Filter by category:</label>
      <select name="category-filters" id="category-filters"></select>
      <option value="Tops">Tops</option>
      <option value="Furniture">Furniture</option>
      <option value="Books">Books</option>
      <option value="Bottoms">Bottoms</option>
      <option value="Dresses">Dresses</option>
      <option value="Cooking Utensils">Cooking Utensils</option>
      <option value="Electronics">Electronics</option>
      <option value="Home Decor">Home Decor</option>
      <option value="Shoes">Shoes</option>
      <option value="Storage">Storage</option>      
      <input class="price-input" type="number" id="price" name="price" />
      <button type="submit" class="search-button" title="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</div>

<div class="row card-group">
  {% for product in products %}
  <div class="col-3">
    <div class="card product">
      <img
        class="card-img-top product-image"
        src="{{product[2]}}"
        alt="{{product[0]}}"
      />
      <div class="card-body">
        <div class="card-title">{{product[0].upper()}}</div>
        <div class="card-text">${{product[1]}}</div>
        <a href="#" class="btn card-submit">Add to cart</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
