{% extends "application.html"%} {% block content %}
<div class="login-box">
  <form action="/login" method="post" class="form">
    <p>Please log in to purchase or list items on Columbia Buy & Sell</p>
    {% if error %}
    <div class="alert alert-danger notification">
      <img
        src="/static/warning.png"
        height="45"
        class="d-inline-block align-top warning-symbol"
        alt=""
      />
      <span class="message">{{error}}</span>
    </div>
    {% endif %}
    <label for="cuid">CUID</label>
    <input type="text" name="cuid" id="cuid" required class="form-input" />
    <br />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      class="form-input"
    />
    <br />
    <input type="submit" value="Login" class="form-button" />
    <span>Don't have an account? <a href="/signup">Sign up!</a></span>
  </form>
</div>
{% endblock %}
