{% extends "application.html"%} {% block content %}
<div class="add-product-box">
  <form action="/add_product" method="post" class="add-form">
    <p>Create an account by entering the following information</p>
    <label for="cuid">CUID</label><br />
    <input type="text" name="cuid" id="cuid" class="add-form-input" required />
    <label for="username">Name</label><br />
    <input
      type="text"
      name="username"
      id="username"
      class="add-form-input"
      required
    />
    <label for="password">Password</label><br />
    <input
      type="text"
      name="password"
      id="password"
      class="add-form-input"
      required
    />
    <label for="userdescription">Description</label><br />
    <input
      type="text"
      name="userdescription"
      id="userdescription"
      class="add-form-input"
      required
    />
    <label for="profilepic">Profile Pic (URL)</label><br />
    <input
      type="text"
      name="profilepic"
      id="profilepic"
      class="add-form-input"
      required
    />
    <h1>Credit Card Information</h1>
    <label for="creditcardno">Card Number</label><br />
    <input
      type="text"
      name="creditcardno"
      id="creditcardno"
      class="add-form-input"
      required
    />
    <label for="creditcardholder">Cardholder</label><br />
    <input
      type="text"
      name="creditcardholder"
      id="creditcardholder"
      class="add-form-input"
      required
    />
    <label for="creditcardexpdate">Expiration Date</label><br />
    <input
      type="text"
      name="creditcardexpdate"
      id="creditcardexpdate"
      class="add-form-input"
      required
    />
    <input type="submit" value="Create Account" class="add-form-button" />
  </form>
</div>
{% endblock %}
