/*General*/
html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-size: 15pt;
  font-family: "Open Sans", sans-serif;
  background: white;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  color: #555555;
}

h1 {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: large;
}

a {
  color: #7eabd5;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background: white;
  color: #555555;
  border-bottom: 1px solid #cecece;
  height: 120px;
  font-size: large;
}

.logo {
  justify-content: center;
}

.profile-header {
  justify-content: end;
}

.notification {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.message {
  text-align: left;
  font-size: medium;
}

.warning-symbol {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

/*Log in*/
.login-box {
  background-size: 100%;
  background: rgb(185, 217, 235);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form {
  position: relative;
  z-index: 1;
  background: white;
  max-width: 400px;
  max-height: 100%;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  font-size: large;
}

.form-input {
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  background: rgb(239, 239, 239);
}

.form-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 15px;
  background: #002754;
  color: white;
}

.form-button:hover,
.form-button:active,
.form-button:focus {
  background: rgb(185, 217, 235);
  color: #002754;
}

/*Product search page*/
.card {
  width: 100%;
  padding: 10px;
  border-width: 0;
  position: relative;
}

.col-3 {
  padding: 20px;
}

.card-text,
.card-title,
.card-submit {
  text-align: center;
  margin: 3px 0px 3px 0px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  padding: 0;
}

.card-text {
  font-size: 18px;
  color: #7b7b7b;
}

.card-submit {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 10px;
  margin-bottom: 15px;
  background: #7eabd5;
  color: white;
}

.card-submit:hover {
  color: white;
  background: #002754;
}

.product {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.product-image {
  width: 300px;
  height: 300px;
}

.product-seller {
  font-size: 15px;
}

.input-group {
  margin: 20px;
  font-size: 18px;
  width: 100%;
}

.form-outline {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 600px;
  border-style: none;
  background-color: rgb(239, 239, 239);
  height: 45px;
  padding: 10px;
}

.search-input:active,
.search-input:focus {
  outline-width: 1px;
  outline-color: rgb(185, 217, 235);
}

.search-label {
  margin: 10px;
  color: #7b7b7b;
}

.search-button {
  background: #7eabd5;
  color: white;
  border: 0px;
  padding: 9px 15px 9px 15px;
  border-radius: 5px;
}

.search-button:active,
.search-button:focus {
  outline: none;
  background-color: #002754;
}

/*Profile and setting*/
.dropdown-menu,
.dropdown-item {
  width: 300px;
  color: #7b7b7b;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #7eabd5;
  background: white;
}

.profile-title {
  color: white;
}

.profile-box {
  padding: 10px 20px 10px 20px;
  max-width: 25%;
  height: 100%;
  font-size: medium;
  background: linear-gradient(to bottom, rgb(185, 217, 235) 30%, white 30%);
  border-right: 1px solid #cecece;
}

.image-cropper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px 0px 20px 0px;
}

.user-info {
  margin: 20px 10px 20px 10px;
  color: #7b7b7b;
}

.info-line {
  margin: 10px 0px 10px 0px;
}

.profile-des {
  padding: 10px;
  margin: 10px 0px 0px 0px;
  display: inline-block;
  min-height: 100px;
  width: 100%;
  border: 1px solid #7b7b7b;
  border-radius: 10px;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.profile-label {
  display: inline-block;
  min-width: 130px;
  font-weight: bold;
}

.profile-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 10px;
  margin-bottom: 15px;
  background: #002754;
  color: white;
}

.profile-button:hover {
  color: white;
  background: #7eabd5;
}

/*Storefront*/
.store-box {
  padding: 10px 20px 10px 20px;
  min-width: 70%;
  max-width: 100%;
  height: 100%;
  font-size: medium;
}

.delete-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 10px;
  margin-bottom: 15px;
  background: rgb(225, 97, 97);
  color: white;
}

.delete-button:hover {
  color: white;
  background: rgb(199, 58, 58);
}

.list-product-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-button {
  outline: 0;
  width: 200px;
  border: 0;
  padding: 10px;
  margin-bottom: 15px;
  background: #002754;
  color: white;
}

.list-button:hover {
  color: white;
  background: #7eabd5;
}

.storefront-product-image {
  width: 250px;
  height: 250px;
}

/*Add product*/
.add-product-box {
  background-size: 100%;
  background: rgb(185, 217, 235);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: medium;
}

.add-form {
  position: relative;
  z-index: 1;
  background: white;
  max-width: 600px;
  max-height: 100%;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}

.add-form-input {
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  background: rgb(239, 239, 239);
}

.add-form-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  background: #002754;
  color: white;
}

.add-form-button:hover,
.add-form-button:active,
.add-form-button:focus {
  background: rgb(185, 217, 235);
  color: #002754;
}
